vrrp_instance VI_1 {
    state BACKUP
    interface {{ ansible_default_ipv4.interface }}
    virtual_router_id {{ router_id }}
    priority 50
    advert_int 1
    virtual_ipaddress {
        {{ vip }}
    }
}
